@model MMA_News_BG.Web.ViewModels.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

<h1 class="display-3">@Model.Title</h1>
@foreach (var article in Model.ArticlePosts)
{
    <div class="media-body">
        <h4 class="media-heading"><a asp-controller="Posts" asp-action="ById" asp-route-id="@article.Id">@article.Title</a></h4>
        <p>@article.ShortContent</p>
        <ul class="list-inline list-unstyled text-right">
            <li class="list-inline-item">
                <i class="fas fa-user-edit"></i> @article.UserUserName
            </li>
            <li class="list-inline-item">
                <i class="fas fa-calendar-alt"></i> @article.CreatedOn
            </li>
        </ul>
    </div>
}