@using MMA_News_BG.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="text-white">
    <header id="head-part" class="d-flex justify-content-around col-10 mx-auto">
        <span class="mt-4 header-elements font-weight-bold">MMA News BG</span>

        <ul id="navigation" class="d-flex mx-auto col-6 justify-content-around p-2 my-3 font-weight-bold rounded text-white">
            <li class="navigation-link"><a asp-controller="Home" asp-action="Index">Начало</a></li>
            <li class="navigation-link"><a asp-controller="Categories" asp-action="ByName" asp-route-name="UFC">UFC</a></li>
            <li class="navigation-link"><a asp-controller="Categories" asp-action="ByName" asp-route-name="Bellator">Bellator</a></li>
            <li class="navigation-link"><a asp-controller="Categories" asp-action="ByName" asp-route-name="Любопитно">Любопитно</a></li>
        </ul>

        <a class="header-elements mt-4" asp-controller="Articles" asp-action="Create">Add Article</a>
    </header>

    <div class="container my-2 col-10">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer id="footer-part" class="py-3 d-flex justify-content-around text-muted col-10 mx-auto">
        <span class="footer-elements">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a class="footer-elements" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </span>

        <span class="footer-elements">
            mmanewsbg@gmail.com
        </span>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @this.RenderSection("Scripts", required: false)
</body>
</html>